
    body {
        background-image: url(/images/tree.jpg);
        background-repeat: no-repeat;
        background-size: 10000000000000000;
        margin: 0;
    }
    
    section{
        position: absolute;
        bottom: 10; 
        right: 10px; 
        
       
        border: solid;
        
    }
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .navbar ul li {
        display: inline; 
        margin-right: 5px; 
    }
    
    .navbar ul li:last-child {
        margin-right: 10px; 
        margin: 10px;
        margin-left: 50px;
        
    }
    
    .navbar ul li a {
        display: inline-block; 
        padding: 1px; 
        text-decoration: none;
        color: black;
    }
    

   